top {
  margin: 3em;
  background-color: white;
  border: none;
}

top div.top {
  margin: 3em;
  padding: 20px;
  background-color: #c3d9ff;
  color: #0000cc;
}

div.directory {
  color: #0000cc;
  background-color: #000000;
  margin: 10px;
}

div.title {
  color: #0000cc;
  display: inline;
  width: 30%;
}

div.help {
  display: inline;
  background-color: red;
  margin-left: 20px;
}

div.contents {
  display: block;
}

script {
  font-family: arial, sans-serif;
  margin: 10px;
  background-color: white;
  border: none;
}

div.header {
  padding: 20px;
  background-color: #c3d9ff;
  color: #0000cc;
  white-space: nowrap;
  font-size: 100%;
}

div.header * {
  font-weight: bold;
}

div.header a:link {
  color: #0000cc;
  text-decoration: underline;
}

div.header a:visited {
  color: #0000cc;
}

div.header a:focus:hover {
  color: #c3d9ff;
  background-color: white;
}

script div.header logo {
  display: table-cell;
  width: 40p%;
  color: white;
  background-color: #1f499b;
  padding: 10px;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 225%;
}

script div.header title {
  display: table-cell;
  width: 45%;
  text-align: center;
  font-size: 150%;
}

script div.header author {
  display: table-cell;
  width: auto;
  text-align: right;
  position: absolute;
  top: 21px;
  right: 21px;
}

script div.header synopsis {
  text-align: center;
  padding: 20px;
  white-space: normal;
  display: block;
}

div.debug-container {
  display: none;
  color: blue;
  border: thin blue solid;
  background-color: #c0c0ff;
  margin: 5em;
  padding: 1em;
}

textarea.debug-log {
  padding: 10px;
  display: block;
  width: 95%;
  font-family: "Bitstream Vera Sans Mono", monospace;
  height: 400px;
}

div.debug-container span.title {
  font-weight: bold;
  border: none;
}

div.debug-log {
  padding: 20px;
  border: none;
  white-space: pre;
}

div.debug-line {
  border: none;
  padding: 0px;
  white-space: pre;
}

div.tab-header {
  padding: 13px 4px 9px 4px;
  color: #0000cc;
  background-color: #c3d9ff;
  white-space: nowrap;
  font-size: 100%;
  margin-top: 20px;
}

div.tab {
  padding: 10px;
  display: inline;
  background-color: #c3d9ff;
  color: black;
}

div.tab.current {
  background-color: #c3d9ff;
}

div.tab-container {
  padding: 0px 4px 6px 4px;
  background-color: #c3d9ff;
  color: #0000cc;
  margin-bottom: 20px;
}

div.tab-body {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 100%;
}

div.tab-contents {
  display: block;
  border: none;
}

div.tab-contents {
  border: none;
}

div.tab-contents div.title {
  font-size: 100%;
  text-decoration: underline;
}

div.tab-contents div.description {
  padding: 3px 3px 20px 3px;
}

div.load-file {
  display: none;
}

div.file-header {
  padding: 10px 3px 7px 0px;
  white-space: nowrap;
  font-size: 100%;
  background-color: #e5ecf9;
}

div.file-tab {
  padding: 10px;
  display: inline;
  color: blank;
  background-color: #e5ecf9;
}

div.file-contents {
  display: block;
  color: white;
  background-color: #e5ecf9;
  padding: 3px;
  margin-bottom: 20px;
}

textarea.file-contents {
  border: thin #e5ecf9 solid;
  padding: 4px;
  display: block;
  width: 99%;
  font-family: "Bitstream Vera Sans Mono", monospace;
  height: auto;
  color: black;
  background-color: white;
}

div.download {
  padding: 10px;
}

div.download:before {
  content: "Download: ";
  font-size: 90%;
  margin-right: 30px;
}

div.download div.button {
  display: inline;
  background-color: white;
  padding: 10px;
  margin-right: 30px;
}

div.download div.button a {  
  color: black;
  padding: 10px;
}
